<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="ppc">
        <input type="button" @click="changeShow" value="changeShow"></input>
        <input type="button" @click="addAge" value="加一岁">
        <!-- <img v-show="Show" src="./meinv.jpg">
        <img v-show="age>=18" src="./meinv.jpg"> -->

        <img v-if="Show" src="./meinv.jpg">
        <img v-if="age>=18" src="./meinv.jpg">
    </div>
</body>
<script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script>
    let ppc=new Vue({
        el:"#ppc",
        data:{
            imgsrc:"",
            Show:false,
            age:0
        },
        methods:{
            addAge:function(){
                this.age+=1;
            },
            changeShow:function(){
                this.Show=!this.Show;
            }
        }
    })
</script>
</html>